<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Address</title>
</head>
<body>

<h1>Create Address</h1>

<form th:action="@{/newad}" th:object="${address}" method="post">
    <div>
        <label for="city">City:</label>
        <input type="text" id="city" th:field="*{city}" />
    </div>
    <div>
        <label for="state">State:</label>
        <input type="text" id="state" th:field="*{state}" />
    </div>
     <label for="streetAddress">street:</label>
        <input type="text" id="streetAddress" th:field="*{streetAddress}" />
    </div>
    <!-- Hidden input field to store contactId -->
    <input type="hidden" th:field="*{contact.id}" />
    <div>
		
        <input type="submit" value="Submit" />
    </div>
</form>

</body>
</html>
